.itm{
    color: white;
    font-size: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.a{
    color: white;
    font-size: 28px;
}
.b{
    color: white;
    font-size: 44px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    margin-top: 40px; 
    
}
.c{
    color: white;
    font-size: 32px;
}